.page-header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  flex-direction: column;
  padding-top: 5em;
}
