.page-header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  background-color: #707f8b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  flex-direction: column;
  padding-top: 5em;
  color: #1D1E2D
}


/* @media only screen and (min-width: 1025) {
  .page-header {
   
  }
} */
