
.new-tweet {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

.new-tweet textarea {
  border-bottom: 5px solid rgb(0, 0, 0);
  width: 100%;
  color: black;
}

.new-tweet input {
  font-family: "bungee", sans-serif;
}

.tweet-button {
  background-color: rgb(49, 100, 158);
  color: aliceblue;
  padding: 7px;
  font-family: "bungee", sans-serif;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.over-count {
  color: darkred;
}